body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
    box-sizing:border-box;
    margin: 0 auto;
    background-color: gainsboro;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
}

/* Taller footer on small screens */

@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 500px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */

footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.bg-light {
    background-color: #fff !important;
    border-bottom: 3px solid black;
}

ul {
    list-style-type: none;
}

li {
    float:left;
    margin-left: 10px;
}

img {
    width: 400px;
    height: auto;
}

.align-image {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.relevant-news {
    background-color: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.logo {
    width: 35px;
}

.img {
    position: relative;
    float: left;
    width: 286px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}